<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9t1vlW9NiCsG9iCKSOkS62m_VniwZBW4</string>
	<key>GCM_SENDER_ID</key>
	<string>412484659377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skillSwap</string>
	<key>PROJECT_ID</key>
	<string>skill-swap-e0a49</string>
	<key>STORAGE_BUCKET</key>
	<string>skill-swap-e0a49.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412484659377:ios:0e6fcc728bae60ab95da90</string>
</dict>
</plist>